{% extends "blog/base.html" %}
{% load static main %}


{% block title %} Profile {% endblock title%}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% block head %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>var chatUrl = "{{ CHAT_URL }}";</script> {% comment %} Переменная из settings.py для адреса Chat {% endcomment %}

{% endblock head %}

{% block container %}
<hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1>User name</h1></div>
    	<div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a></div>
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
              

      <div class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" id="imageAvatar" class="avatar img-circle img-thumbnail" alt="avatar">
        <div>
          <a id='followingLink' href="http://127.0.0.1:8008/profile/subscriptions/?search=following">following(на кого подписан user)</a>
          <a id='followersLink' href="http://127.0.0.1:8008/profile/subscriptions/?search=followers">followers(кто подписан на user'a)</a>
        </div>
      </div></hr><br>

               
          <div class="panel panel-default">
            <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
            <div class="panel-body"><a href="http://bootnipets.com">bootnipets.com</a></div>
          </div>
          
          
          <ul class="list-group">
            <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span>не используется 125</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span><span id="likesCount"></span></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span><span id="articleCount"></span></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Comments</strong></span><span id="commentCount"></span></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span>не используется 78</li>
          </ul> 
               
          <div class="panel panel-default">
            <div class="panel-heading">Social Media</div>
            <div class="panel-body">
            	<i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
            </div>
          </div>
          
        </div><!--/col-3-->
    	<div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
              </ul>

              
              <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <hr>
                    <div id="first_menu">
    
                    </div>
                  <hr>
              
             </div><!--/tab-pane-->
               

          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
{% endblock container %}

{% block jquery %}
    $.getScript('{% static 'profile/js/userProfile.js' %}');
    $.getScript('{% static 'profile\js\socket.js' %}');
{% endblock %}