{% extends "blog/base.html" %}
{% load static main %}

{% block head %}
<link href="{% static 'blog/css/comments.css' %}" rel="stylesheet">
{% endblock head %}

{% block container %}
  <div class="row">
    <div class="col-lg-8" >
      <div class="row">
        <div id="articleDetail"></div>
      </div>
        {% include 'blog/includes/like_and_dislike.html' %}
        {% include 'blog/includes/comments.html' %}
        {% comment %} <div id="commentslist"></div> {% endcomment %}
        <div class="row">
          <div class="comments-container">
        <h1 id="commentCount">Comments (0)</h1>
        <ul id="paginationComment" class="comments-list" data-id="{{ id }}" data-href-next="#"></ul>
        </div>
      </div>
    </div>

  {% block right_sidebar %}
  {{ block.super }}
  {% include 'blog/includes/right_sidebar.html' %}
  {% endblock right_sidebar %}

  {% include 'blog/includes/child_comment.html' %}

{% endblock container %} 

{% block jquery %}
$.getScript('{% static 'blog/js/detail.js' %}');
$.getScript('{% static 'blog/js/right_sidebar.js' %}');
{% endblock %}
